body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.side-menu {
    background: #1a92d3;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: flex-start;

    font-weight: bold;
    
    font-size: .9rem;
    padding: 2rem 2rem 1rem 0.8rem;
}

.logo span {
    font-size: 3rem;
    margin: 0;
    padding-right: 0.5rem;
}

.logo h1 {
    display: inline-block;
    margin: 0;
}

.side-menu ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-menu {
    margin-bottom: 3rem;
}

.side-menu li {
    padding: 1rem 0 1rem 1.5rem;
}

.side-menu li:hover, .side-menu li:hover {
    background: #2d9fdc;
    border-left: 4px solid #f0b42a;

    transition: .2s all ease-in-out;
}

main {
    background: #e2e8f0;
}

.mdi {
    font-size: 1.5rem;
    padding: 0.4rem;
}

/*
*   HEADER
*/

header {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background: #fff;
}

.profile-photo {
    display: block;
    background: rgb(233, 210, 0);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.top-menu {
    margin-top: 1rem;
}

.top-menu, .bottom-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4rem;
}

.search-bar {
    width: clamp(10rem, 50%, 50rem);
    display: flex;
    align-items: center;
    padding-left: 3rem;
    margin-top: -0.1rem;
}

.search-bar .mdi {
    font-size: 1.8rem;
    position: relative;
    top: 0.8px;
    margin-right: 1rem;
}

.search-bar input {
    width: 100%;
    height: 2rem;
    background: #e2e8f0;
    border: none;
    border-radius: 1.5rem;
    padding: .3rem 1rem;
}

.profile {
    display: flex;
    align-items: center;
}

.profile .mdi {
    margin-right: 0;
    padding: 0.6rem;
}

.profile .mdi:hover, .profile .mdi:focus {
    background: #eee;
    border-radius: 0.5rem;
    transition: 0.2s all ease-in-out;
} 

.profile .profile-photo, .profile h2 {
    margin: 1rem;
}

.bottom-menu .meet {
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.meet .profile-photo {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.bottom-menu ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.bottom-menu li {
    font-weight: bold;
    background: #1a92d3;
    color: #fff;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
}

.bottom-menu li:hover, .bottom-menu li:focus {
    background: #2d9fdc;
    transition: 0.2s all ease;
}

.hello-user p, .hello-user h3 {
    font-weight: bold;
    margin: 0;
}

.hello-user p {
    font-size: .9rem;
    margin-bottom: .3rem;
}

.hello-user h3 {
    font-size: 1.5rem;
}

/*
 *
 * MAIN CONTENT
 *
 */

.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

/*
 * Your Projects
 */

.your-projects {
    padding-right: 1.5rem;
}

.section-heading {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2rem 0 1rem 1.5rem;
    margin: 0;
 }

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #fff;
    
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin: 0 0 2rem 2rem;

    border-left: 0.5rem solid #f0b42a;
    border-radius: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card .heading {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.card p {
    color: #636363;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.links {
    list-style-type: none;
    text-align: right;
    padding: 0;
    padding-bottom: 1.5rem;
    margin: 0;
}

.links li {
    display: inline-block;
    margin-right: 0.6rem;
}

.links li:last-child {
    margin-right: 0;
}

.links a {
    color: #000;
    padding: 1rem 0.2rem 0.6rem;
}

.links a:hover, .links a:focus {
    transition: 0.2s all ease-in-out;
    background: #eee;
    border-radius: 0.5rem;
}

/*
*
*   MAIN CONTENT ASIDE 
*
*/

.main-content aside {
    padding-right: 2.5rem;
}

/*
*  Announcements
*/

aside .section-heading {
    padding-left: 0;
}

.latest-announcements, .trend-profiles {
    background: #fff;
    border-radius: 0.5rem;
}

.latest-announcements {
    padding: 2.5rem;
}

.announcement {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.announcement:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.announcement h3 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.announcement p {
    font-size: 0.85rem;
    color: #636363;
    margin-top: 0;
}

.announcement:last-child p {
    margin: 0;
}

/*
*  TRENDING
*/

.trend-profiles {
    padding: 0.8rem;
    margin-bottom: 2rem;
}

.trend-user {
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

.trend-user .profile-photo {
    min-width: 3rem;
    min-height: 3rem;
}

.trend-user:hover, .trend-user:focus {
    background: #eee;
    border-radius: 0.5rem;
    transition: 0.2s all ease-in-out;
}

.trend-user:last-child {
    margin-bottom: 0;
}

#first-user .profile-photo {
    background: pink;
}

#second-user .profile-photo {
    background: lightgreen;
}

#third-user .profile-photo {
    background: lightblue;
}

#fourth-user .profile-photo {
    background: lightslategray;
}

.who {
    margin-left: 1rem;
}

.who .tag, .who span {
    font-size: 1rem;
}

.tag {
    margin: 0.2rem;
}

.who span {
    color: #636363;
}

/*
*   BOX SHADOW
*/

header, .card, .latest-announcements, .trend-profiles {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}

/*
*
*   MEDIA QUERIES
*
*/

@media screen and ( max-width: 1450px ) {
    body {
        grid-template-columns: 5.4rem 6fr;
    }

    .logo h1,
    .user-menu li > :last-child,
    .settings-privacy li > :last-child {
        display: none;
    }
}

@media screen and ( max-width: 1240px ) {

    header {
        grid-template-rows: 1fr 1fr;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .meet .profile-photo {
        width: 3rem;
        min-width: 3rem;
        height: 3rem;
    }

    .hello-user h3 {
        font-size: 1.2rem;
    }

    .bottom-menu li {
        padding: 0.7rem 2rem;
        border-radius: 1.5rem;
    }

    .profile h2 {
        font-size: 1.2rem;
    }
}

@media screen and ( max-width: 1040px ) {
    .top-menu {
        display: none;
    }

    header {
        grid-template-rows: 1fr;
    }

    .bottom-menu {
        padding: 1rem 0;
        justify-content: flex-end;
    }

    .bottom-menu .meet {
        display: grid;
        grid-template-areas: "name photo";
    }

    .meet .profile-photo {
        grid-area: photo;
    }

    .meet .hello-user {
        grid-area: name;

        text-align: right;
        margin-right: 1rem;
    }

    .bottom-menu nav {
        display: none;
    }
}

@media screen and ( max-width: 955px ) {

    .main-content {
        grid-template-columns: 1fr;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .main-content aside {
        display: none;
    }
}

@media screen and ( max-width: 850px ) {
    .cards {
        grid-template-columns: 1fr;
    }
}